/* CSS Document */
body {
	background-color: #476DBB;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #4A2F02;
	border:dotted;

}

h1 {
	color: #E39D1D;
	font-size: 45px;
	text-align: center;
	padding-top: 1px;
}

h2 {
	color: #000000;
}

p {
	
}

.links {
	text-align: center;
	color: #4A2F02;
}

#closing {
	text-align: center;
	color: #E39D1D;
}
